repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: 'tests/examples'
      - id: end-of-file-fixer
        exclude: >
          (?x)(
            tests/renderers/httpdomain/rendered |
            tests/examples/
          )
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: ['--fix', '--unsafe-fixes']
      - id: ruff-format
